<h1>Editing Admin Tournament</h1>

<%= render 'form', admin_tournament: @admin_tournament %>

<%= link_to 'Show', admin_tournament_path(@admin_tournament) %> |
<%= link_to 'Back', admin_tournaments_path %>
