<% breadcrumb :edit_tournament, @admin_tournament %>
<div class="row">
  <!-- left column -->
  <div class="col-md-8">
    <%= render 'form2', admin_tournament: @admin_tournament, form_url: admin_tournament_path(@admin_tournament) %>
  </div>
</div>

<%#= link_to 'Show', admin_tournament_path(@admin_tournament) %>
