<% breadcrumb :edit_group, @group %>
<div class="row">
  <!-- left column -->
  <div class="col-md-8">
    <%= render 'form_group', group: @group, form_url: update_group_admin_tournaments_path(@group) %>
  </div>
</div>
