<div class="row">
  <!-- left column -->
  <div class="col-md-8">
    <div class="card">
      <div class="card-body table-responsive p-2">
        <table id="datatable_with_search" class="table table-bordered table-hover text-nowrap">
          <tbody>
          <% @groups.each do |group| %>
            <tr>
              <td><%= group.name %></td> 
              <td><%= link_to "Edit", edit_group_admin_tournaments_path(group) %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
  <%= render 'form_group', group: @group, form_url: create_group_admin_tournaments_path %>
  </div>
</div>
