<%= content_for :page_title do %>Editing Player<% end %>

<div class="row">
  <!-- left column -->
  <div class="col-md-8">
    <div class="card card-primary card-outline">
    <%= render 'form', admin_player: @admin_player, indexed_events: @indexed_events %>
    </div>
  </div>
</div>

<%= link_to 'Back', admin_player_path(@admin_player) %>
