<% players.each_with_index do |player,idx| %>
  <% if idx % col_size == 0 %>
    <% if idx / col_size == 0 %>
      <div class="row">
    <% else %>
      <div class="row mt-4">
    <% end %>
  <% end %>
  <%= render 'player_box', player: player %>
  <%# add filler boxes to fill the last row %>
  <% if (idx + 1) == players.count and ((idx + 1) % col_size > 0) and players.count % col_size > 0 %>
    <% (players.count % col_size).upto(col_size - 1).each do |i| %>
      <%= render 'player_box', player: nil %>
    <% end %>
  <% end %>
  <% if idx % col_size == (col_size - 1)   %>
      </div>
      <!-- /.row -->
  <% end %>
<% end %>
