<% players.each_with_index do |player,idx| %>
  <% if idx % col_size == 0 %>
    <% if idx / col_size == 0 %>
      <div class="row">
    <% else %>
      <div class="row mt-4">
    <% end %>
  <% end %>
        <div class="col-sm">
          <div class="position-relative p-3 bg-gray" style="height: 60px">
            <%= simul_result(player) %>
            <span class="badge badge-pill bg-<%= player.color %>"><%= player.number %></span>
            <span><%= player.player.name %></span>
          </div>
        </div>
  <% if idx % col_size == (col_size - 1)   %>
      </div>
      <!-- /.row -->
  <% end %>
<% end %>
