<% players.each_with_index do |player,idx| %>
  <% if idx % col_size == 0 %>
    <% if idx / col_size == 0 %>
      <div class="row">
    <% else %>
      <div class="row mt-4">
    <% end %>
  <% end %>
                  <div class="col-sm">
                    <div class="position-relative p-3 bg-gray" style="height: 60px">
  <% if player.result %>
                      <div class="ribbon-wrapper ribbon">
    <% if player.result == player.color %>
                        <div class="ribbon bg-success">
                          WIN
                        </div>
    <% elsif player.result == 'draw' %>
                        <div class="ribbon bg-warning">
                          DRAW
                        </div>
    <% else %>
                        <div class="ribbon bg-primary">
                          LOST
                        </div>
    <% end %>
                      </div>
  <% end %>
                    <span class="badge badge-pill bg-<%= player.color %>"><%= player.number %></span>
                    <%= player.player.name %>
                    </div>
                  </div>
  <% if idx % col_size == (col_size - 1)   %>
      </div>
      <!-- /.row -->
  <% end %>
<% end %>
