<%= form_with(model: admin_tournaments_player, url: update_players_admin_tournaments_path(tournament), html: { method: :patch }) do |form| %>
  <% if admin_tournaments_player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_tournaments_player.errors.count, "error") %> prohibited this admin_tournaments_player from being saved:</h2>

      <ul>
        <% admin_tournaments_player.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card-body">
    <div class="form-group row">
      <%= form.label :name, "Name", class: "col-sm-4 col-form-label" %>
      <div class="col-sm-8" data-controller="autocomplete" data-autocomplete-url-value="/admin/players/suggestions">
        <input name="tournament[player_name]" type="text" class="form-control" data-autocomplete-target="input" placeholder="Type player's name"/>
        <input type="hidden" name="tournament[player_id]" data-autocomplete-target="hidden"/>
        <ul data-autocomplete-target="results" class="list-group"></ul>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="submit" class="btn btn-default float-right" name="cancel">Cancel</button>
  </div>

<% end %>
