<% breadcrumb :add_tournament_player, @tournament %>
<% content_for :page_title do %>Add New Player to Tournament: <%= @tournament.name %><% end %>

<div class="row">
  <!-- left column -->
  <div class="col-md-8">
    <div class="card card-primary card-outline">
    <%= render 'form_new', groups: @groups, admin_tournaments_player: @tournaments_player, tournament: @tournament %>
    </div>
  </div>
</div>

