
 
<% content_for :page_title do %>Registering New Players to Tournament: <%= @tournament.name %><% end %>

<div class="row">
  <!-- left column -->
  <div class="col-md-8">
    <div class="card card-primary card-outline">
    <%= render 'form_preview', new_players: @new_players, selected: @selected, groups: @groups, tournament: @tournament %>
    </div>
  </div>
</div>
