<div data-controller="round-finished" data-round-finished-target="bsAlert"
     data-round-finished-group-id-value="<%= group && group.id %>" 
     class="alert alert-warning alert-dismissible show fade top-center-alert" style="display:none">
  <button type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close">&times; </i>
  </button>
  <span  data-round-finished-target="message">
  This alert is dismissable.
  </span>
</div>
