  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
      Gens Una Sumus!
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2023, 2024 <a href="#">Canichess Alumni</a>.</strong> All rights reserved.
  </footer>
