  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <%= image_tag("LogoCanichess.png", alt: "Canichess Logo", class: "brand-image img-circle elevation-3", style: "opacity: .8") %>
      <span class="brand-text font-weight-light">Canichess Alumni</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-header">TOURNAMENT</li>
          <li class="nav-item">
            <%= link_to new_admin_tournament_path, class: "nav-link" do %>
              <i class="nav-icon far fa-edit"></i>
              <p>
                Create New
              </p>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to admin_tournaments_path, class: "nav-link" do %>
              <i class="nav-icon fas fa-table"></i>
              <p>
                List
              </p>
            <% end %>
          </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
