        <div class="row"  data-controller="scoreboard">
          <%= render 'boards', boards: boards_1, tournament: tournament, round: round  %>
          <%= render 'boards', boards: boards_2, tournament: tournament, round: round  %>
        </div>
        <!-- /.row -->
