<div class="row justify-content-center">
  <div class="col-auto d-flex align-items-center">
    <h2><%= image_tag(tournament.logo, alt: "Tournament Logo", style: "max-width: 100px; opacity: .8") %></h2>
    <div class="d-flex flex-column align-items-center ms-3 p-3">
      <h2 class="mb-1 mt-2"><%= tournament.name %></h2>
      <h4>Player's Progress</h4>
      <% if group %>
      <h5>Group: <%= link_to group.name, group_show_tournaments_path(tournament, group) %></h5>
      <% end %>
    </div>
  </div>
</div>
