        <div class="row">
          <%= render 'players_table', players: players_1, tournament: tournament, offset: 0 %>
          <%= render 'players_table', players: players_2, tournament: tournament, offset: @half_of_players %>
        </div>
        <!-- /.row -->
