          <div class="col-lg-6">
            <div class="card card-primary">
              <div class="card-body table-responsive p0">
                <table class="table table-bordered table-striped text-nowrap">
                  <thead>
                    <tr>
                      <th style="width: 1%">#</th>
                      <th>Player Name</th>
                    </tr>
                  </thead>
                  <tbody>
                  <% players.each_with_index do |player, idx| %>
                    <tr>
                      <td><%= offset + idx + 1 %></td>
                      <td style="display: flex; justify-content: space-between; align-items: center;">
                        <div class="mr-1">
                          <span style="font-size: 1.0em"><%= player.name %></span>
                          <%= categories_badge(player) %>
                        </div>
                        <%= render 'player_history', player: player, tournament: tournament %>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
