<div class="row">
  <%= render 'standings_progress_table', standings: standings_1, group: group, round: round, offset: 0 %> 
  <%= render 'standings_progress_table', standings: standings_2, group: group, round: round, offset: standings_1.size %> 
</div>
