<button
  class="btn btn-warning"
  data-controller="android-button"
  data-android-button-tournament-id-value="<%= tournament.id %>"
  data-android-button-subscribed-value="false"
  data-action="click->android-button#toggle"
>
  Notify me for updates
</button>
