<section class="jumbotron">
    <div class="container">
        <div class="content row">
            <div class="col-12 jumbotron">
                    <h2>Title here</h2>
                    <p>Hai putra Kanisius</p>
<p>
Selalu bersatu padu<br />
Di dalam suka dan duka<br />
Kita saling membantu</p>

<p>Tak kenal putus asa<br />
Dengan gigih terus maju<br />
Jadi manusia dewasa<br />
Beriman dan berilmu</p>


<p>Mari kita berjuang<br />
Membangun masa depan<br />
Dengan satu semboyan Ad Miorem Dei Gloriam</br>

Siap membantu sesama<br />
Mengabdi Nusa dan Bangsa<br />
Atas dasar Pancasila</p>

            </div>
        </div>
    </div>
</section>
