<table class="table table-hover text-nowrap">
  <thead>
    <tr>
      <th>#</th>
      <th>Player Name</th>
      <th>Suggestions</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% players.each_with_index do |player_suggestions, idx| %>
      <tr>
        <td style="text-align: right; vertical-align: middle;"><%= idx + 1 %></td>
        <td style="vertical-align: middle;"><%= player_suggestions.first.first %></td>
        <td style="vertical-align: middle;"><%= form.select "player_ids[#{idx}]", player_suggestions,
                     { :include_blank => false, :selected => selected[idx] },
                     { :class => 'select2bs4 form-control' } %>
        </td>
        <% if selected[idx] == 0 %>
          <% if player_suggestions.count == 1 %>
            <td style="vertical-align: middle;"><span class="bg-maroon p-2">NEW</span></td>  
          <% else %>
            <td style="vertical-align: middle;"><span class="bg-warning p-2">MULTI</span></td>
          <% end %>
        <% else %>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
