<% breadcrumb :upload_simul_players, @simul %>
 
<% content_for :page_title do %>Upload Players File to Simul: <%= @simul.name %><% end %>

<div class="row">
  <!-- left column -->
  <div class="col-md-8">
    <div class="card card-primary card-outline">
    <%= render 'form_upload', simul: @simul %>
    </div>
  </div>
</div>
