<div class="row justify-content-center">
  <div class="col-auto d-flex align-items-center">
    <h2><%= image_tag(standings_config.groups.first.tournament.logo, alt: "Tournament Logo", style: "max-width: 100px; opacity: .8") %></h2>
    <div class="d-flex flex-column align-items-center ms-3 p-3">
      <h2 class="mb-1 mt-2"><%= standings_config.name %></h2>
      <h3><span style="color:orange"><%= standings_config.description %>
      <% if standings_config.all_groups_finished? %>
       (Final Standings)
       <% end %>
      </span></h3>
    </div>
  </div>
</div>
