@import "bootstrap";
@import "admin-lte";
@import "admin-lte/plugins/icheck-bootstrap";
@import '@fortawesome/fontawesome-free';
@import "~bootstrap/scss/bootstrap";
@import "~tempusdominus-bootstrap-4/src/sass/tempusdominus-bootstrap-4";
@import "~bootstrap4-dialog/src/scss/bootstrap-dialog";
