@import "admin-lte";
@import "admin-lte/plugins/icheck-bootstrap";
@import '@fortawesome/fontawesome-free';
/* @import "~bootstrap/scss/bootstrap"; */
@import "~tempusdominus-bootstrap-4/src/sass/tempusdominus-bootstrap-4";
@import "~bootstrap4-dialog/src/scss/bootstrap-dialog";
@import "datatables.net-bs4/css/dataTables.bootstrap4";

/* large devices */
@media (min-width: 1200px) {
  .container {
     max-width: 1300px;
   }
}

@media screen and (orientation:landscape)
and (min-device-width: 319px)
and (max-device-width: 1500px) {
  .container {
    max-width: 1500px;
  }
}

/* extra large devices */
@media screen and (min-width: 1800px) {
  .container {
    max-width: 1700px;
  }
}

@media (max-width: 767px) {
  .hidden-mobile {
          display: none;
  }
}

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/v4-shims';

@import "admin-lte/plugins/toastr/toastr.min";
