@import "bootstrap";
@import "admin-lte";
@import "admin-lte/plugins/icheck-bootstrap";
@import '@fortawesome/fontawesome-free';
@import "~bootstrap/scss/bootstrap";
@import "~tempusdominus-bootstrap-4/src/sass/tempusdominus-bootstrap-4";
@import "~bootstrap4-dialog/src/scss/bootstrap-dialog";

/* large devices */
@media (min-width: 1200px) {
  .container {
     max-width: 1300px;
   }
}
/* extra large devices */
@media screen and (min-width: 1800px) {
  .container {
    max-width: 1500px;
  }
}

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/v4-shims';
