.bracket-cell {
  width: 30px;
  position: relative;
  padding: 0;
}

.bracket {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 14px;
  transform: translateX(-50%);
}

.bracket::before,
.bracket::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  border-right: 3px solid;
}

.bracket::before {
  top: 0;
  border-top: 3px solid;
  border-radius: 0 6px 0 0;
  border-color: var(--warning);
}

.bracket::after {
  bottom: 0;
  border-bottom: 3px solid;
  border-radius: 0 0 6px 0;
  border-color: var(--warning);
}
