<div class="row">
  <div class="col-md-8">
    <div class="card card-primary"> <!-- card-outline shadow"> -->
      <div class="card-header">
        <h3 class="card-title">
        Editing User: <%= @user.username %>
        </h3>
      </div>
      <%= render 'form', user: @user %>
    </div>
  </div>
</div>
